{% extends 'layouts/main.html' %}
{% block title %}Brewblog{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1>Brewblog</h1>
		<p class="lead">Sipping on the sweet nectar of life at local breweries near you.</p>
		<h3>
			<a href="/breweries"><button class="btn btn-primary btn-lg">Verified Breweries</button></a>
		</h3>
		<h3>
			<a href="/drinkers"><button class="btn btn-primary btn-lg">Verified Drinkers</button></a>
		</h3>
	</div>
  <!-- TODO: Add a search form for breweries -->
	<!-- <div class="col-sm-6 hidden-sm hidden-xs">
		<img id="front-splash" src="{{ url_for('static',filename='img/front-splash.jpg') }}" alt="Front Photo of Musical Band" />
	</div> -->
</div>
{% endblock %}